html, body {
  margin: 20px;
}

a.active {
  font-weight: bold;
}

canvas {
  border: 1px solid gray;
}

.absolute-element {
  position: absolute;
  top: -55px;
  left:-40px;
  background-color: red;
}

.example {
  position: absolute;
}

.main-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border: 1px solid red;

  padding: 20px;
}
