html, body {
  margin: 20px;
}

a.active {
  font-weight: bold;
}

canvas.lower-canvas {
  box-shadow: 0 0 10px rgba(150, 150, 150, 0.5);
  background-color: white;
}

.absolute-element {
  position: absolute;
  top: -55px;
  left:-40px;
}

.application-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.main-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(210, 217, 223);
  padding: 20px;
}

.huayra-canvas {
  padding: 10px;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
}

.huayra-canvas-viewport {
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.huayra-toolbar-container {
  background-color: white;
  padding: 3px;
  border-bottom: 1px solid gray;
}


.em-modal {
  background-color: hsla(0, 0%, 0%, 0.35);
}


.right {
  float: right;
}

.huayra-propertybar {
  position: absolute;
  right: 0;
  top: 39px;
  bottom: 0;
  width: 300px;
  border-left: 1px solid gray;
  background-color: white;
  padding-left: 10px;
}
