[Desktop Entry]
Version=1.0
Name=huayra-collage
Comment=Comment
Exec=/usr/bin/huayra-collage
Terminal=false
Type=Application
Icon=huayra-collage
Categories=GNOME;GTK;Huayra;Network;
