<div class="container">

<div class="hero-unit">
  <h1> ¡Hola, esto es huayra-collage! </h1>

  <p><button class="btn btn-success" {{action "goToEditor"}}>Ingresar en el editor</button></p>
</div>

</div>
